/*Fonts from Google Fonts - more at https://fonts.google.com */
@import url("https://fonts.googleapis.com/css?family=Exo:wght@300;400&display=swap| ");


  /* change the values below to your colors from your palette */
  $primary-color: #ff6700;
  $secondary-color: #FFFF00;
  $accent1-color: #808080;
  $accent2-color: #000000; 
  /* change the values below to your chosen font(s) */
  $heading-font: "Exo", sans-serif;
  $paragraph-font: Georgia, "Times New Roman", Times, serif;


